<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
    
    <form action="" class="grid-container">
<center> <h1>Datos de usuario</h1></center>
<img src="perfil.png" alt="">
<div class="datos">
    <label for="Usuario">Usuario</label>
    <input  type="text" id="Usuario" name="Usuario" placeholder="Usuario">
        <label  for="Nombre" class="row">Nombre</label>
        <input  type="text" id="Nombre" name="Nombre" placeholder="Nombre">
     
            <label for="Apellido paterno">Apellido paterno</label>
            <input type="text" id="Apellido paterno" name="Apellido paterno" placeholder="Apellido paterno">
     
                <label for="Apellido materno">Apellido materno</label>
                <input type="text" id="Apellido materno" name="Apellido materno" placeholder="Apellido materno">
             
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" placeholder="email">
                
                        <label for="Ciudad">Ciudad</label>
                        <input type="text" id="Ciudad" name="Ciudad" placeholder="Ciudad">
                      
                            <label for="Colosnia">Colonia</label>
                            <input type="text" id="Colonia" name="Colonia" placeholder="Colonia">
                          
                                <label for="Calle">Calle</label>
                                <input type="text" id="Calle" name="Calle" placeholder="Calle">
                         
                                    <label for="Codigo postal">Codigo postal</label>
                                    <input type="text" id="Codigo postal" name="Codigo postal" placeholder="Codigo postal">

                                    <input type="submit" class="button" value="Modificar">
                                </div>
                          
</form>
</body>
</html>