<%- include('_partials/_header.ejs') %> 

<title>Empleados</title>
</head>
<body>
    <%- include('_partials/_nav.ejs') %>

    <table id="datatable" class="datatable">
        <thead>
            <tr>
                <th>id</th>
                <th>Nombres</th>
                <th>A. Paterno</th>
                <th>A. Materno</th>
                <th>Cargo</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
            </tr>
        </tbody>
    </table>

    <%- include('_partials/_footer.ejs') %> 