<%- include('_partials/_header.ejs') %> 

<title>Inicio</title>
</head>
<body>
    <%- include('_partials/_nav.ejs') %>
    <div class="content">
        <% if (email) { %> 
            <div class="name"><%= email.nombres %> </div>
            <div class="job">Developer</div>
        <% } %> 
    </div>
    <%- include('_partials/_footer.ejs') %>