<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/signup.css">
    <!-- boxicons -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Document</title>
</head>
<body>
    <div class="container">
        <header>Registrarse</header>
        <form action="/signup" method="post">
            <div class="field email-field">
                <div class="input-field">
                    <input class="email" type="text" name="email" id="email" placeholder="Email">
                </div>
                <span class="error email-error"><i class='bx bx-error-circle error-icon'></i>
                    <p class="error-text">Ingrese un correo valido</p>
                </span>
            </div>
            <div class="field user-field">
                <div class="input-field">
                    <input class="text" type="text" name="user" id="user" placeholder="Usuario">
                </div>
                <span class="error email-error"><i class='bx bx-error-circle error-icon'></i>
                    <p class="error-text">Ingrese un correo valido</p>
                </span>
            </div>
            <div class="field password-field">
                <div class="input-field">
                    <input class="psw" type="password" name="psw" id="psw" placeholder="Contrase単a">
                    <i class='bx bx-hide show-hide' ></i>
                </div>
                <span class="error password-error"><i class='bx bx-error-circle error-icon'></i>
                    <p class="error-text">Ingrese una contrase単a de minimo 8 caracteres (Numeros, minisculas y mayusculas)</p>
                </span>
            </div>
            <div class="field cPassword-field">
                <div class="input-field">
                    <input class="cpsw" type="password" name="" id="" placeholder="Confirmar contrase単a">
                    <i class='bx bx-hide show-hide' ></i>
                </div>
                <span class="error cPassword-error"><i class='bx bx-error-circle error-icon'></i>
                    <p class="error-text">las contrase単as no coinciden</p>
                </span>
            </div>
            <div>
                <% if (alert) { %>
                    <div class="alert alert-danger" role="alert">
                        <%= alertMessage %>
                    </div>
                <% } %>
            </div>
            <div class="input-field button">
                <input type="submit" value="Registrarse">
            </div>
        </form>
    </div>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="js/index.js"></script>
</body>
</html>