<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Productos</title>

    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <table class="table">
            <caption>Productos</caption>
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Precio</th>
                    <th>Descripción</th>
                    <th>Fecha de pedido</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td data-label="Producto">Tortas</td>
                    <td data-label="Precio">$40</td>
                    <td data-label="Descripcion">Torta de cochinita con papas.</td>
                    <td data-label="Fecha">13/04/2022</td>
                    <td><button>Eliminar</button></td>
                    
                </tr>
                <tr>
                    <td data-label="Producto">Pizza</td>
                    <td data-label="Precio">$50</td>
                    <td data-label="Descripcion">Pizza de pepperoni con salami.</td>
                    <td data-label="Fecha">5/01/2022</td>
                    <td><button>Eliminar</button></td>

                </tr>
                <tr>
                    <td data-label="Producto">Tacos</td>
                    <td data-label="Precio">$30</td>
                    <td data-label="Descripcion">Tacos de carne asada con aguacate</td>
                    <td data-label="Fecha">2/06/2022</td>
                    <td><button>Eliminar</button></td>

                </tr>
        
            </tbody>
        </table>
    </div>
</body>
</html>